<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <!-- <div class="page-header section-dark" style="background-image: url('assets/img/login-image.jpg')"> -->
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div>
                        <img src="assets/img/prvlogo-new.png" style="width: 250px" alt="">
                    </div>
                    <div class="presentation-title" style="font-size: 3.5em;">PINHEIRO RIZZIOLLI VILAR</div>
                    <div class="presentation-subtitle">ADVOCACIA & CONSULTORIA</div>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                    <!-- <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by VILARTECH
        </h6>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Nossos serviços</h2>
                        <!-- <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5> -->
                        <br>
                        <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-key-25"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Direito Criminal</h4>
                                <p class="description">Acompanhamento em Delegacia, Inquérito Policial, Audiência de
                                    Custódia, Relaxamento e Revogação de Prisão, Habeas Corpus, Defesa e Audiência de
                                    Instrução e Recursos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-single-02"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Direito Civil</h4>
                                <p>Direito de Família (Divórcio, Guarda de Filhos, Alimentos, Inventários), Direito do
                                    Consumidor, Direito Contratual (Confecção e análise de minutas), Ações
                                    indenizatórias.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-money-coins"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Direito Previdenciário</h4>
                                <p>Requerimento administrativo de benefícios e aposentadorias, Auxílio Doença,
                                    Aposentadoria Rural, Aposentadoria por tempo de Contribuição, Aposentadoria por
                                    Idade, Revisão da vida toda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-briefcase-24"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Direito Trabalhista</h4>
                                <p>Advocacia pró Reclamante</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Sobre nós</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title">Adilson Martins Vilar</h4>
                                    <h6 class="card-category">#ESPECIALIZAÇÃO#</h6>
                                </div>
                                <p class="card-description text-center">
                                    Escrever um resumo pessoal/profissional
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title">Fernanda Rizzolli</h4>
                                    <h6 class="card-category">#ESPECIALIZAÇÃO#</h6>
                                </div>
                                <p class="card-description text-center">
                                    Escrever um resumo pessoal/profissional
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/kaci-baum-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <h4 class="card-title">Luciana Pinheiro</h4>
                                    <h6 class="card-category">#ESPECIALIZAÇÃO#</h6>
                                </div>
                                <p class="card-description text-center">
                                    Escrever um resumo pessoal/profissional
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h1 class="text-center" style="margin-bottom: 35px">Entre em contato</h1>
                        <div class="row">
                            <div class="col-md-6 text-center">
                            <a href="https://api.whatsapp.com/send?phone=5519996432044&text=Ol%C3%A1%2C%20preciso%20de%20um%20advogado%20criminalista%2C%20voc%C3%AA%20pode%20me%20ajudar%3F">
                                <!-- <p>Clique aqui para nos enviar um:</p> -->
                                <img src="assets/img/wpp.png" style="width: 25px; height: 25px; " alt="">
                                <p> Clique para enviar WhatsApp: 19 99643-2044</p>
                            </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <img src="assets/img/email.jpg" style="width: 25px; height: 25px; " alt="">
                                <p>Email: m.lucianapinheiro@hotmail.com</p>
                            </div>
                        </div>
                        <br />
                            <h3 class="text-center"><b>Conheça nosso escritório</b></h3>

                            <h5 class="text-center">Rua Aníbal Justino Pereira, 259, Sala 01, Jardim Santa Izabel</h5>
                            <h5 class="text-center">Hortoândia/SP. CEP: 13.185-221.</h5>
                    </div>
                    <img src="./assets/img/mapa.png" style="width: 100%; margin-top: 35px;">
                </div>
            </div>
        </div>
    </div>
</div>