<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}},
                    <a href="https://api.whatsapp.com/send?phone=5519988310924&text=Ol%C3%A1%20VilarTECH,%20preciso%20de%20uma%20consultoria%20de%20TI." target="_blank">
                        <!-- <p>Clique aqui para nos enviar um:</p> -->
                        Desenvolvido por VILARTECH
                        <img src="assets/img/wpp.png" style="width: 10px; height: 10px; " alt="">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>
